extends ../admin-wrapper

block content
	section(data-jsclass="adminListController" data-id= instance.id data-model= model data-search-property= schema.admin.listProperties[0])
		.container-fluid
			.row
				.col-xs-12
					.panel.panel-default
						.panel-heading
							.pull-right
								i.delete-button.fa.fa-times-circle.fa-2x.text-danger(data-id= instance.id)
							i.list-button.fa.fa-list.fa-2x
							= ' Editing ' + model + ' row ' + instance.id
						.panel-body
							form.form.form-horizontal(method="POST" action= endpoint)
								for property in schema.admin.viewProperties
									if property !== 'id'	
										.form-group
											label.col-sm-3.control-label(for= property)
												= property
											.col-sm-9
												- var type = schema.properties[property].admin.inputType
												input.form-control(type= type name= property value= instance[property])
								.form-group
									.col-sm-3
									.col-sm-9
										.btn.btn-primary.save-button(data-id= instance.id) Save
