extends ../admin-wrapper

block content

	section
		.container-fluid
			.row
				.col-md-12
					.panel.panel-default
						.panel-body

							form( name="vm.form" novalidate)
								formly-form(model="vm.model" fields="vm.fields" options="vm.options" form="vm.form")
									button(type="submit" class="btn btn-primary submit-button" ng-click="vm.onSubmit()" ng-disabled="vm.form.$invalid")= 'Submit'
									button(class="btn btn-default submit-button" ng-click="vm.onCancel()")= 'Cancel'

					p.
						fields {{ vm.fields }}

					p.
						model {{ vm.model }}
