extends ../admin-wrapper

block content
	section(data-jsclass="adminListController" data-id= instance.id data-model= model data-search-property= schema.admin.listProperties[0])
		.container-fluid
			.row
				.col-xs-12
					.panel.panel-default
						.panel-heading
							.pull-right
								i.edit-button.fa.fa-pencil-square-o.fa-2x(data-id= instance.id)
								i.delete-button.fa.fa-times-circle.fa-2x(data-id= instance.id)
							i.list-button.fa.fa-list.fa-2x
							= ' ' + model + ' row ' + instance.id
						.panel-body
							for property in schema.admin.viewProperties
								if property !== 'id'
									.row
										.col-sm-3
											= property
										.col-sm-9
											= instance[property]
		
		ul
			for relation in childRelations
				li
					= relation.name + ' ('+relation.type+')'
					ul
						-var children = instance[relation.name]()
						if children
							for child in children
								li
									a(href= '/admin/views/' + relation.modelTo.definition.name + '/' + child.id + '/view')= child.id
		
		ul
			for relation in parentRelations
				-var parent = instance[relation.name]()
				if parent
					li
						a(href= '/admin/views/' + instance.uploadableType + '/' + parent.id + '/view')= parent.id
