extends ../wrapper

block seo
	title.
		Home

block content
	if message
		strong= message
		
	if user
		p.
			Logged in as #{user.email}
		
		p
			a.btn.btn-primary(href="/upload") Upload a file
			
		p
			button.btn.btn-default(data-jsclass="logoutController").
					Log Out
		
	else
		h3.
			Login
				
		form.form.form-inline(action="/api/MyUsers/login" method="POST")
			input(type="text" name="email" placeholder="Email address")
			input(type="password" name="password" placeholder="Password")
			input.btn.btn-primary(type="submit")
				
		| - or -
		
		h3
			a(href="/register").
				Register
