extends ../wrapper

block seo
	title.
		Home

block content
	if alert
		.alert.alert-info
			= alert
		
	if user
		p.
			Logged in as #{user.email}
		
		p
			a.btn.btn-primary(href="/upload") Upload a file
			
		p
			button.btn.btn-default(data-jsclass="logoutController").
					Log Out
		
	else
		h3.
			Login
				
		form.form.form-inline(data-jsclass="loginController")
			.form-group
				input.form-control(type="text" name="email" placeholder="Email address")
			.form-group
				input.form-control(type="password" name="password" placeholder="Password")
			.form-group
				input.form-control.btn.btn-primary(type="submit")
				
		h3 - or -
		
		h3
			a(href="/register").
				Register
