extends ../wrapper

block seo
	title.
		OgTags

block content
	.row
		.col-xs-12
			h3 OG Tag Preview
			.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="https://www.youtube.com/watch?v=G6Y5xLvYdMM" data-type="json")

			.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="http://www.nytimes.com/interactive/2016/08/02/business/dealbook/this-is-your-life-private-equity.html?hp&action=click&pgtype=Homepage&clickSource=story-heading&module=photo-spot-region&region=top-news&WT.nav=top-news&_r=0" data-type="json")

			.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="https://en.wikipedia.org/wiki/Sloth" data-type="json")

			.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="https://upload.wikimedia.org/wikipedia/commons/1/18/Bradypus.jpg" data-type="json")
